{{#each items}}
<li>
  <div class="left">
    <img src="{{productImage imageURL}}">
  </div>
  <div class="right">
    <h4>{{name}}</h4>
    <p>{{description}}</p>
  </div>
  <p class="desc">{{description}}</p>
</li>
{{/each}}